@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --goku: #3d41f4;
    --vegeta: #039cec;
    --trunks: #c7d0cf;
    --gohan: #232426;
    --bulma: #1f1d2b;
    --broly: #fefefe;
    --frieza: #718096;
    --piccolo: #2A2836;
  }

  .dark {
    --goku: #3d41f4;
    --vegeta: #039cec;
    --trunks: #c7d0cf;
    --gohan: #232426;
    --bulma: #1f1d2b;
    --broly: #fefefe;
    --frieza: #718096;
    --piccolo: #2A2836;
  }
}
