@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --goku: 61 65 244;
    --vegeta: 3 156 236;
    --trunks: 199 208 207;
    --gohan: 35 36 38;
    --bulma: 31 29 43;
    --broly: 254 254 254;
    --frieza: 113 128 150;
    --piccolo: 42 40 54;
    --popo: 1 5 15;
    --zeno: 199 208 207;
    --heles: 164, 164, 164;
    }

    .dark {
    --goku: 61 65 244;
    --vegeta: 3 156 236;
    --trunks: 199 208 207;
    --gohan: 35 36 38;
    --bulma: 31 29 43;
    --broly: 254 254 254;
    --frieza: 113 128 150;
    --piccolo: 42 40 54;
    --popo: 1 5 15;
    --zeno: 199 208 207;
    --heles: 164, 164, 164;
    }
}
