@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionRegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionLightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionMediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionSemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionSemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionBlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionThin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Gelion";
    src: url("/fonts/GelionThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
  }

  :root {
    --goku: 61 65 244;
    --vegeta: 3 156 236;
    --trunks: 199 208 207;
    --gohan: 35 36 38;
    --bulma: 31 29 43;
    --broly: 254 254 254;
    --frieza: 113 128 150;
    --piccolo: 42 40 54;
    --popo: 1 5 15;
    --zeno: 199 208 207;
    --videl: 4 26 50;
    --dodoria: 2 211 255;
    --zarbon: 1 13 37;
    --c6: 215 216 255;
    --chichi: 43 43 61;
    --whis: 164 164 164;
    --andriod: 65 46 46;
    --quitela: 58 184 58;
    --kettol: 248 46 2;
    --barry: 225 172 8;
    --tagoma: 30 31 46;
    --young: 56 62 74;
  }

  .dark {
    --goku: 61 65 244;
    --vegeta: 3 156 236;
    --trunks: 199 208 207;
    --gohan: 35 36 38;
    --bulma: 31 29 43;
    --broly: 254 254 254;
    --frieza: 113 128 150;
    --piccolo: 42 40 54;
    --popo: 1 5 15;
    --zeno: 199 208 207;
    --videl: 4 26 50;
    --dodoria: 2 211 255;
    --zarbon: 1 13 37;
    --c6: 215 216 255;
    --chichi: 43 43 61;
    --whis: 164 164 164;
    --andriod: 65 46 46;
    --quitela: 58 184 58;
    --kettol: 248 46 2;
    --barry: 225 172 8;
    --tagoma: 30 31 46;
    --young: 56 62 74;
  }

  body {
    font-family: "Gelion", sans-serif;
    font-size: 16px;
    /* font-weight: 300; */
    color: rgb(var(--broly));
  }
}
